<div class="sub-head">
	<div class="container">
		<h1>Admin</h1>
	</div>
</div>

<div class="container">
	<h2>Report Scraper</h2>
	<p>Scrapes <a href="//columbuspolice.org/Reports/">columbuspolice.org/Reports/</a>
	for police reports and adds them to the database.</p>
	<form action="report-scraper" method="get">
		<input type="submit" value="Scrape Reports">
	</form>

	<h2>Categorize Crime Types</h2>
	<p>Checks each report for offense type and assigns a category. 
	This makes the data much easier to display in graphs.</p> 
	<form action="report-category" method="get">
		<input type="submit" value="Categorize Crime Types">
	</form>
</div>